.add-hospital-container {
  padding: 25px;
}

.page-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-section input,
.doctor-card input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
}

.preview-img {
  width: 180px;
  margin-top: 10px;
  border-radius: 6px;
}

.doctor-card {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f8f9fa;
  margin-bottom: 20px;
}

.btn-add-doctor {
  padding: 10px 15px;
  background: #4f46e5;
  color: #fff;
  border: 0;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-remove {
  background: #dc3545;
  color: #fff;
  border: 0;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.btn-save {
  padding: 12px 20px;
  background: #22c55e;
  color: #fff;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}
