.doctor-card {
  width: 260px;
  background: #faffff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.2s ease;
  border: 1px solid #d3d8f0;
}

.doctor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.doctor-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.doc-title {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 600;
}

.doc-dept {
  color: #333;
  margin: 6px 0;
}

.doc-hospital {
  color: #14085a;
  font-weight: bold;
  font-size: 1rem;
}

.custom-modal-content {
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.modal-left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-body-custom {
  padding: 35px;
  text-align: center;
}

.subscribe-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
}

.subscribe-btn {
  width: 100%;
  background-color: #e33535;
  padding: 12px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 20px;
  cursor: pointer;
}

.subscribe-btn:hover {
  opacity: 0.9;
}

.available-day-box {
  width: 90px;
  padding: 8px;
  border-radius: 8px;
  margin: 4px;
  font-size: 0.85rem;
}
