/* LIGHT MODE (default) */
.light-mode {
  --bg-main: #f5f6fa;
  --sidebar-bg: #ffffff;
  --box-bg: #ffffff;
  color: #000;
  background: #f5f6fa;
}

/* DARK MODE */
.dark-mode {
  --bg-main: #1e293b;
  --sidebar-bg: #0f172a;
  --box-bg: #1e293b;

  color: #e2e8f0;
  background: #1e293b;
}

/* Apply to main layout */
html.light-mode body,
html.dark-mode body {
  background: var(--bg-main);
  color: inherit;
}
